header {
	background-color: cadetblue;
	padding: 20px;
}

li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 10px;
	box-sizing: border-box;
}

h2{
	margin-top: 15px;
	font-size: 50px;
	text-align: center;
}


li h1{
	font-size: 35px;
}

main{
	background-color: rgb(193, 235, 235);
}

.participantes a{
	display: block;
	margin: 10px 10px 10px 10px;
	text-decoration: none;
}

.participantes img{
	border: 2px solid #000000;
}

.participantes{
	margin: 10px 10px 10px 10px;
}

.participantes img:hover{
	border-color: blue;
}

.participantes a:hover{
	color: rgb(206, 146, 74);
	font-size: 25px;
}

footer {
	background-color: cadetblue;
	padding: 10px;
}